<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="style.css">
</head>
<body>
    <h1>Jira swimlane toggler</h1>
    <h3>Use your keyboard to toggle next or previous swimlanes.</h3>
    
    <div class="row">
        <div>
            <h4>Toggle previous swimlane:</h4>
            <ol>
                <li><code>ARROW_UP</code></li>
                <li><code>PAGE_UP</code></li>
            </ol>
        </div>

        <div>
            <h4>Toggle next swimlane:</h4>
            <ol>
                <li><code>ARROW_DOWN</code></li>
                <li><code>PAGE_DOWN</code></li>
            </ol>
        </div>
    </div>

</body>
</html>